body {
  margin: auto;
  width: 1000px;
}

header {
  text-align: center;
  background-color: rgb(206, 206, 206);
  height: 100px;
  width: 100%;
}

.header_text {
  color: rgb(87, 87, 87);
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  padding: 30px;
}

#section_flex_container{
  display: flex;
  width: 100%;
  margin: 5% auto;
  background-color: rgb(179, 179, 179);
  justify-content: space-evenly;
}

.section_box{
  background-color: rgb(150, 148, 148);
  flex: 0 1 auto;
  margin: 20px;
}

/*Footer flex box container*/
#footer_flex_container {
  display: flex;
  width: 100%;
  margin: 5% auto;
  background-color: rgb(179, 179, 179);
  justify-content: space-evenly;
}

/*Footer box item*/
.footer_box {
  background-color: grey;
  flex: 0 1 auto;
  padding: 15px;
  margin: 20px;
}

/*create space between list items*/
.list_space {
  padding-bottom: 10px;
}

.buttons .btn {
  padding: 0 10px;
  display: inline-flex;
  background: #ddd;
  color: #444;
  margin: 10px;
  cursor: pointer;
}

.buttons .btn .btn.active{
  background: #444;
}


